@charset "UTF-8";

body.home-page {
  /*background image*/
  background-image: url("images/Game_Boy_Background.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Press Start 2P';font-size: 10px;
  background-size: cover;
}

body.second-page {
    /*background image*/
  background-image: url("images/Game_Boy_Price.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Press Start 2P';
  margin-left: 45%;
  margin-right: 1%;
  margin-top: 12%;
  background-position: center;
  scroll-behavior: smooth;
  text-align: justify;
  text-justify: inter-word;
 
}

body.third-page {
    /*background image*/
  background-image: url("images/Game_Boy_Background_2.png");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Press Start 2P';
  margin-left: 45%;
  margin-right: 1%;
  margin-top: 12%;
  background-size: cover;
  scroll-behavior: smooth;
  text-align: justify;
  text-justify: inter-word;
 
}

body.forth-page {
    /*background image*/
  background-image: url("images/gameboy(1).jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Press Start 2P';
  margin-left: 45%;
  margin-right: 1%;
  margin-top: 12%;
  background-size: cover;
  scroll-behavior: smooth;
  text-align: justify;
  text-justify: inter-word;
 
}
h1{
  color: #000000;
  font-size: 15px;
  line-height: 1.5;
}

header{
  color: #073a03;
  font-size: 100%
}

figure{
  position: fixed;
  margin-top: 12%;
  margin-bottom: 20%;
  width: 100%;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  position: fixed;
  left: 35%;
  width: 30%;
  text-align: center;
  text-indent: 0;
}

figure img {
  transition: transform .8s ease;
}

figure:hover img {
  transform: scale(1.2);
}

h2{
  position: fixed;
  margin-top: 13%;
  right: 1%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px #fad900;
}

main{
  position: fixed;
  top:750px;
  right: 60%;
  left: 34%;
  width: 32%;
  font-size: 12px;
  text-align: center;
  color: #b5b0b0;
  text-shadow: 2px 2px black;
}

a{
  text-decoration: none;
  line-height: 3;
  color: #ff0000;
}









